<div class="row">

    <div class="col-5 mt-5">
        <img class="img-fluid"
            src="https://scontent-mad2-1.xx.fbcdn.net/v/t1.6435-9/88968319_2745322092190017_2241088955523006464_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=o9Nlk-UD1psAX9LDk3N&_nc_ht=scontent-mad2-1.xx&oh=00_AfCFuMSbhjL83B5vYFzXnpjsx39Y2tvhXKma9v7Lx17TDA&oe=6626011E"
            alt="">
        <h3 class="text-center bg-light border-bottom mt-3 mb-3">¿Que tiene este ejercicio?</h3>
        <p>
            Este ejercicio tiene;
        </p>
        <ol>
            <li class="bg-light mb-3 border-bottom">Componente Productos es leido desde un array en Type Script a traves de una interfaz-Modelo</li>
            <li class="bg-light mb-3 border-bottom">Componente Cards es leido desde el API a traves del servicio HTTP</li>
            <li class="bg-light mb-3 border-bottom">Componente formulario recoje informacion del formulario a traves de NgModule y lo gestiona por una interfaz-Modelo</li>
            <li class="bg-light mb-3 border-bottom">Uso de Pipes tanto en Productos para usar imagenes genericas (visto en webinars) y un otro para cambiar el estado de la tarea a completo o incompleto</li>
        </ol>

    </div>

    <div class="col-6 mt-3 mb-3 bg-light border-bottom">
        <h3 class="text-center  bg-light border-bottom">¿Que es angular?</h3>
        <p>
            Angular es un framework de JavaScript de tipo open source, es decir de código abierto, desarrollado por
            Google. Se utiliza en la creación y programación de aplicaciones web de una sola página.
        </p>
        <p>
            Como se explica en el sitio web de Angular, “los componentes son los bloques de construcción que componen
            una aplicación. Un componente incluye una clase de TypeScript con un decorador, una plantilla HTML y
            estilos”.
        </p>
        <ol>
            <li class="bg-light mb-3 border-bottom">¿Qué es un decorador en angular? El decorador establece la información específica de Angular.</li>
            <li class="bg-light mb-3 border-bottom">Un selector de CSS define cómo se usa el componente en una plantilla. Los elementos HTML de su plantilla
                que coincidan con este selector se convierten en instancias del componente.</li>
            <li class="bg-light mb-3 border-bottom">Una plantilla HTML que le indica a Angular cómo representar el componente</li>
            <li class="bg-light mb-3 border-bottom">Un conjunto opcional de estilos CSS que definen la apariencia de los elementos HTML de la plantilla</li>
        </ol>

    </div>
</div>